<div class="formgrid grid">
    <div class="field col">
        <label for="searchId">Search by ID</label>

        <form [formGroup]="searchForm">
            <input type="text" pInputText formControlName="searchtxt" />
            <p-button class="ml-2" label="Search" (onClick)=" searchTask()"></p-button>


        </form>
    </div>
</div>


<div *ngIf="taskResponse else taskNotFound">

    <div class="grid mt-2">

        <div *ngFor="let task of tasks">
            <div class="col-12">
                <app-task [task]="task" [routeButton]="true"></app-task>
                <!-- <p-card styleClass="bg-blue-100" header="{{task.title|uppercase}}" subheader="ID: {{task.id}}"
                    [style]="{ width: '100%' }">

                    <p>{{task.description}}</p>
                    <p>{{task.long_description}}</p>

                    <p class="font-bold">{{task.status}}</p>

                    <ng-template pTemplate="footer">
                        <p-button label="Update" icon="pi pi-check"></p-button>
                        <p-button label="Delete" icon="pi pi-times" styleClass="p-button-secondary"
                            [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card> -->
            </div>
        </div>
    </div>

</div>

<ng-template #taskNotFound>
    <div class="flex justify-content-center bg-red-100 pt-4 pb-4 mt-5 border-round-md">Task not found</div>
</ng-template>