<div class="grid bg-blue-100 pl-8 py-2">
    <div class="col-1">
        <a class="text-black-alpha-90" style="text-decoration: none" routerLink="/">
            <div class="text-center">My Task List</div>
        </a>
    </div>
    <div class="col-1">
        <a class="text-black-alpha-90" style="text-decoration: none" routerLink="/tasks">
            <div class="text-center">Home</div>
        </a>
    </div>
    <div class="col-1">
        <a class="text-black-alpha-90" style="text-decoration: none" routerLink="/tasks/create">
            <div class="text-center">Create</div>
        </a>
    </div>

</div>