<div>
    <p-card styleClass="bg-blue-100 border-round-lg" header="{{task.title|uppercase}}" subheader="ID: {{task.id}}"
        [style]="{ width: '100%' }">
        <p>{{task.description}}</p>
        <p>{{task.long_description}}</p>
        <p class="font-bold">{{task.status}}</p>

        <ng-template pTemplate="footer">
            <div *ngIf="routeButton else UDbutton">
                <p-button label="View" styleClass="w-full"></p-button>
            </div>

            <ng-template #UDbutton>
                <p-button label="Update"></p-button>
                <p-button label="Delete" styleClass="p-button-secondary"
                    [style]="{ 'margin-left': '.5em' }"></p-button></ng-template>
        </ng-template>
    </p-card>
</div>