<div>
    <p-card styleClass="bg-blue-100 border-round-lg" header="{{task.title|uppercase}}" subheader="ID: {{task.id}}"
        [style]="{ width: widthS }">

        <p>{{task.description}}</p>
        <p *ngIf="!routeButton">{{task.long_description}}</p>
        <p class="font-bold">{{task.status}}</p>

        <ng-template pTemplate="footer">
            <div *ngIf="routeButton else UDbutton">
                <p-button label="View" styleClass="w-full" routerLink="/tasks/{{task.id}}">
                </p-button>
            </div>

            <ng-template #UDbutton>
                <p-button label="Update" (click)="showDialog()"></p-button>
                <p-button label="Delete" (onClick)="deleteTask(task.id)" styleClass="p-button-secondary"
                    [style]="{ 'margin-left': '.5em' }"></p-button>

            </ng-template>


        </ng-template>
    </p-card>
</div>

<!-- update modal -->
<p-dialog header="Update status" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw',height:'300px' }"
    [draggable]="false" [resizable]="false">

    <form [formGroup]="taskForm">
        <p-dropdown formControlName="selectedStatus" [options]="status" optionLabel="code"
            placeholder="Select a status"></p-dropdown>
    </form>
    <p-button label="Update" styleClass="mt-5 w-full" (onClick)="updateTaskStatus()">
    </p-button>

</p-dialog>